*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Images/desktop.png);
    background-color: hsl(0, 100%, 74%) ;
}

.main-app{
    width: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15vh;
    align-items: center;
}